# JetBrains and OS X files
.idea
.idea/
.idea/*
**/.DS_Store
*.iml

# Compiled binaries
bin/*
bin

# Go Dependencies (installed under src/ when building project locally)
src/github.com
src/github.com/*
